@import url('./Torus-Semibold.css');
@import url('./Torus-Bold.css');

body {
	font-family: Torus-SemiBold, serif;
}

body {
	padding: 20rpx 10rpx 10rpx 10rpx;
	box-sizing: border-box;
	background-color: #e5f6ff;
}